.footerform{
   background-color: rgb(79, 222, 247);
   margin: 2%;
  border-radius: 5px;
}

li {
    display: inline-block;
    list-style-type:none;
    margin-right: 12%;
    padding: 10px;
    text-decoration: none;
}
.links{
 font-weight:bold;
 font-size: 1.2em;
 color: black;
}
.linemiddel{
    margin: 3% 0 3% 3%;
}
